body, html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: sandybrown;
  font-family: Arial, Helvetica, sans-serif;
}
#calc-container{
  width: 350px;
  height: 400px;
  max-width: 95vw;
  background-color: black;
  border: 5px solid black;
}
#display{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  color:white;
  background-color: black;
  height: 15%;
  overflow: hidden;
}
#button-grid{
  background-color: red;
  height: 85%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 0px;
}
#ac{
  grid-column: 1 / 3;
  width: 100%;
}
.zero {
  grid-column: 1 / 3;
  width: 100%;
}
#equal{
  grid-column: 4;
  grid-row: 4 / 6;
}
button{
  border: 1px solid black;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  color:white
}
button:hover{
  border: 1px solid white;
}
.btn-number{
  background-color: rgb(110, 109, 109);
}
.btn-operator{
  background-color: darkgray;
}
#ac{
  background-color: rgb(182, 40, 40);
}
#equal{
  background-color: rgb(49, 49, 150);
}
#newNumber{
  font-size: 1.5rem;
}
#oldNumber{
  font-size: 0.95rem;
  color: orange;
}

